/* Bulma Framework */
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";


:root {
    --transition: all 0.6s ease;
    --black:#000; 
    --white:#fff;
    --lightgrey: #f9f9f9;
    --midgrey:  #dbdbdb;
    --darkgrey: #333;
    --blue:#3298dc;
    --primaryColor: #00d1b2;
  }
  

/* Universal selector */
* {
 
}

/* Element Selectors */

html {

  margin: 0;
  padding: 0;

}


ul {
  list-style: none;
}

li {
  border-bottom: 1px solid var(--midgrey);
  padding: 20px 0;;

}

a { 
  transition: var(--transition);
  color: var(--darkgrey);;

}

a:hover {
  transition: var(--transition);
}


h4 {

}

header {
  padding: 30px;
  
}
#date {

}

header .input {
  min-width: 250px;
}

header .field.has-addons {
  justify-content: center;
}

.dropdown {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 200px;
}

.dropdown-trigger {
  
}

.dropdown-trigger .button {
  width: 250px;

}

.dropdown-trigger .button span {
  width: 100%;
  text-align: left;
}

.dropdown-menu {
  right: 0;
  margin: 0 auto;
  width: 250px;
  left: -25px;
}
main {
  padding: 40px;

}

main .title {
  text-align: left;

}

footer {
  padding: 20px;
}

/* Class Selectors */

.title {
  text-align: center;
}

.subtitle {
  text-align: center;
}

.container.is-fluid {
justify-content: center;
display: flex;
flex-direction: column;

}

.column {

}

.column:first-child {
  margin: 0px 0px 0px 0px;
}

.panel-heading  {
  box-shadow: 0px 5px 5px #ccc;
  display: flex;
}

.list-group-item {

}

.list-group-item-heading {
  font-size: 20px;
  font-weight: 600;
}

.list-group-item {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  float: left;
  padding: 20px;
  border-bottom: 1px solid #ccc;

}

.list-group-item:hover {
  color: var(--primaryColor);
}

.list-group-item:nth-child(even) { 
  background: var(--lightgrey);
 
}

.pager li {
  border-bottom: none;
  background: none;
}

#attraction {
  margin: 10px 0;
}


#backBtn {
  text-align: right;
  color: var(--white);
  transition: var(--transition);
}

#backBtn:hover {
  color: var(--darkgrey);;
}

.panel-footer {

}

.pager {
  margin: 0 auto;
}
.pager li {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  width: 45px;
  text-align: center;
}

.pager li a:hover {
  color: var(--primaryColor);

}
.pager span {
  font-size: 20px;
}

.next {
  float: right;
}


#map_div {
  
}


/* Small Screens & Phone Sizes */
@media screen and (max-width: 768px) {

  .container.is-fluid {
    padding: 10px;
  }

  .column:first-child {
    margin: 0px 0px 0px 0px;

  }

}